<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
  <!-- 本地仓库路径，默认：${user.home}/.m2/repository -->
  <localRepository>/path/to/local/repo</localRepository>


  <!-- 和用户交互获得输入，默认: true -->
  <interactiveMode>true</interactiveMode>


  <!-- 离线模式运行，默认: false -->
  <offline>false</offline>


  <!-- pluginGroup列表 -->

  <pluginGroups>
    <!-- 使用某个插件时如果没有提供groupId，maven使用pluginGroup配置的groupId -->
    <pluginGroup>com.your.plugins</pluginGroup>

  </pluginGroups>

  <!-- 代理列表 -->
  <proxies>
    <!-- 代理 -->
    <proxy>
      <!-- 代理的唯一ID -->
      <id>optional</id>
      <!-- 为true表示激活 -->
      <active>true</active>
      <!-- 协议 -->
      <protocol>http</protocol>
      <!-- 账号 -->
      <username>proxyuser</username>
      <!-- 密码 -->
      <password>proxypass</password>
      <!-- 主机名 -->
      <host>proxy.host.net</host>
      <!-- 端口号 -->
      <port>80</port>
      <!-- 不被代理的主机名列表 -->
      <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
    </proxy>
  </proxies>

  <!-- servers -->
  <servers>
    <!-- server -->
    <server>
      <id>deploymentRepo</id>
      <username>repouser</username>
      <password>repopwd</password>
    </server>


    <!-- Another -->
    <server>
      <id>siteServer</id>
      <privateKey>/path/to/private/key</privateKey>
      <passphrase>optional; leave empty if not used.</passphrase>
    </server>
  </servers>

  <!-- 镜像列表 -->
  <mirrors>
    <!-- 镜像 -->
    <mirror>
      <!-- 镜像唯一ID -->
      <id>mirrorId</id>
      <!-- 被镜像的服务器的id -->
      <mirrorOf>repositoryId</mirrorOf>
      <name>Human Readable Name for this Mirror.</name>
      <!-- 镜像的url -->
      <url>http://my.repository.com/repo/path</url>
    </mirror>

    <!-- 镜像 -->
    <mirror>
      <!-- 镜像唯一ID -->
      <id>maven-default-http-blocker</id>
      <!-- 被镜像的服务器的id -->
      <mirrorOf>external:http:*</mirrorOf>
      <name>Pseudo repository to mirror external repositories initially using HTTP.</name>
      <!-- 镜像的url -->
      <url>http://0.0.0.0/</url>
      <blocked>true</blocked>
    </mirror>
  </mirrors>

  <!-- profile列表 -->
  <profiles>
    <!-- profile -->
    <profile>
      <!-- 唯一ID -->
      <id>jdk-1.4</id>
      <!-- 激活的条件 -->
      <activation>
        <jdk>1.4</jdk>
      </activation>
      <!-- 仓库列表 -->
      <repositories>
        <repository>
          <id>jdk14</id>
          <name>Repository for JDK 1.4 builds</name>
          <url>http://www.myhost.com/maven/jdk14</url>
          <layout>default</layout>
          <snapshotPolicy>always</snapshotPolicy>
        </repository>
      </repositories>
    </profile>


    <!-- profile -->
    <profile>
      <id>env-dev</id>
      <activation>
        <property>
          <name>target-env</name>
          <value>dev</value>
        </property>
      </activation>

      <properties>
        <tomcatPath>/path/to/tomcat/instance</tomcatPath>
      </properties>
    </profile>

  </profiles>

  <!-- 激活的profile列表 -->
  <activeProfiles>
    <activeProfile>alwaysActiveProfile</activeProfile>
    <activeProfile>anotherAlwaysActiveProfile</activeProfile>
  </activeProfiles>

</settings>
