<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/lang
                           http://www.springframework.org/schema/lang/spring-lang.xsd">

    <!--<lang:defaults refresh-check-delay="1000"/>-->

    <lang:groovy id = "processorFromClasspathFile" script-source = "classpath:groovy/ClasspathMessageProcessor.groovy"/>

    <lang:groovy id = "processorFromInline">
        <lang:inline-script>
            import me.cxis.spring.groovy.Processor

            class ClasspathMessageProcessor implements Processor {

                @Override
                String process(String message) {
                    println('inline处理消息：'+ message)

                    def  result = message;
                    if (message.contains("error")) {
                        result = '消息里有错误信息'
                    }
                    result = result + "，经过了inline处理"
                    return result
                }
            }
        </lang:inline-script>
    </lang:groovy>

    <!--这里指定了一个脚本名称，实际使用的时候可以动态生成此xml文件-->
    <lang:groovy id = "processorFromDB" script-source = "database:DBMessageProcessor.groovy"/>

</beans>