<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cxis.second.kill.dao.mapper.SuccessKilledMapper">

    <insert id="insertSuccessKilled">
        insert ignore into success_killed (second_kill_id, user_phone, state)
        value (#{secondKillId}, #{userPhone}, 0)
    </insert>

    <select id="queryBySecondKillId" resultType="SuccessKilledDO">
        select second_kill_id, user_phone, state, create_time
        from success_killed
        where second_kill_id = #{secondKillId}
          and user_phone = #{userPhone}
    </select>

</mapper>